.Card {
  width: 500px;
  padding: 20px;
  background: linear-gradient(
    135deg,
    hsla(0, 0%, 100%, 0.05),
    hsla(0, 0%, 100%, 0.15)
  );
  box-shadow: -1px -1px 4px #fff3, inset -1px -1px 4px #fff3, 1px 1px 4px #0053,
    inset 1px 1px 4px #0053;
  border-radius: 20px;
}
