.inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input {
  display: flex;
  justify-content: space-between;
}
.input label {
  font-weight: 600;
  color: #eee;
}
.input input {
  width: 60%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0px 5px;
  font-weight: 600;
  color: black;
  background-color: #eee;
}

.input input:focus {
  color: #111;
  background-color: #fff;
}
