.App {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(135deg, midnightblue, purple, indigo);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 0px;
}
